<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <a href="d:\repos\firstbank_app\firstbank_app\fonts\fontawesome.otf">d:\repos\firstbank_app\firstbank_app\fonts\fontawesome.otf</a>
    <img src="d:\repos\firstbank_app\firstbank_app\fonts\fontawesome-webfont.svg" />
    <a href="d:\repos\firstbank_app\firstbank_app\fonts\fontawesome-webfont.ttf">d:\repos\firstbank_app\firstbank_app\fonts\fontawesome-webfont.ttf</a>

    <a href="d:\repos\firstbank_app\firstbank_app\fonts\fontawesome-webfont.woff">d:\repos\firstbank_app\firstbank_app\fonts\fontawesome-webfont.woff</a>

    <a href="d:\repos\firstbank_app\firstbank_app\fonts\fontawesome-webfont.woff2">d:\repos\firstbank_app\firstbank_app\fonts\fontawesome-webfont.woff2</a>
    <link href="d:\repos\firstbank_app\firstbank_app\css\font-awesome.min.css" rel="stylesheet" />
    <link href="d:\repos\firstbank_app\firstbank_app\css\style.css" rel="stylesheet" />
    
    
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all">



</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
